.changeBackgroud {
    background-color: transparent;
    border-radius: 10px;
    font-weight: bold;
    padding: 3px;
}

/* 배경 */
img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    /* 우선순위를 낮춰서 이미지를 가장 뒤로 가게 함*/
    background-size: cover;
}
